<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <application
       android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="FitOut"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.RegistrationActivity"></activity>

        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MacrosCalculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectFood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyPage"
            android:label="@string/title_activity_daily_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualAdd"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>

